<?xml version="1.0"?>
<div style="position:absolute;right:20"><a href="javascript:void(0)" onclick="expandAll(true)">expand</a><a href="javascript:void(0)" onclick="expandAll(false)">collaps</a></div><script><!--
			function openFull(el){
				el.nextSibling.style.display!='block'?el.nextSibling.style.display='block':el.nextSibling.style.display='none'
			}
			function expandAll(fl){ 
				var elAr = document.getElementsByTagName("DIV");
				for(var i=2;i<elAr.length;i++){
					if(elAr[i].style.display!='block' || elAr[i].block_fl){
						elAr[i].block_fl = true;
						if(fl)
							elAr[i].style.display = "block";
						else
							elAr[i].style.display = "none";
					}
				}
			}
		--></script><style>
			.{font-family:arial;}
			h2 {cursor:pointer;font-size:16px;margin-left:10px;line-height:10px}
			h3 {cursor:pointer;font-weight:normal;color:gray;text-decoration:underline;line-height:10px}
			div.block {margin-left:30px;}
		</style><link rel="STYLESHEET" type="text/css" href="common/styles.css"/><h2 onclick="openFull(this)">dhtmlXGridObject object API</h2><div class="block" style="display:show;"><h3 onclick=" openFull(this)">initialization</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">setColumnsVisibility(list)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set list of visible/hidden columns</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">list - list of true/false separated by comma</li> </div></div><h3 onclick=" openFull(this)">rows control</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">getSelectedRowId()<br/><strong class="div_strong_method">gets selected row id</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<br/><font class="exem">Returns:</font>id of selected row (list of ids with default delimiter) or null if non row selected </div><div class="div_method" onclick="openFull(this)">selectRow(r,fl,preserve,show)<br/><strong class="div_strong_method">selects row (and first cell of it)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">r - row index or row object</li><li type="circle">fl - if true, then call function on select</li><li type="circle">preserve - preserve previously selected rows true/false (false by default)</li><li type="circle">show - true/false - scroll row to view, true by defaul</li> </div></div><h3 onclick=" openFull(this)">colums control</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">enableHeaderImages(fl)<br/><strong class="div_strong_method">specify if values passed to Header are images file names</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">fl - true to treat column header values as image names</li> </div><div class="div_method" onclick="openFull(this)">getColType(cInd)<br/><strong class="div_strong_method">get column type by column index</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">cInd - column index</li><br/><font class="exem">Returns:</font>type code </div><div class="div_method" onclick="openFull(this)">getColTypeById(cID)<br/><strong class="div_strong_method">get column type by column ID</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">cID - column id</li><br/><font class="exem">Returns:</font>type code </div><div class="div_method" onclick="openFull(this)">setColAlign(alStr)<br/><strong class="div_strong_method">set align of values in columns</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">alStr - list of align values (possible values are: right,left,center,justify). Default delimiter is ","</li> </div><div class="div_method" onclick="openFull(this)">setColSorting(sortStr)<br/><strong class="div_strong_method">set column sort types (avaialble: str, int, date, na or function object for custom sorting)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">sortStr - sort codes list with default delimiter</li> </div><div class="div_method" onclick="openFull(this)">setColTypes(typeStr)<br/><strong class="div_strong_method">set column types</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">typeStr - type codes list (default delimiter is ",")</li> </div><div class="div_method" onclick="openFull(this)">setColVAlign(valStr)<br/><strong class="div_strong_method">set vertical align of columns</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">valStr - vertical align values list for columns (possible values are: baseline,sub,super,top,text-top,middle,bottom,text-bottom)</li> </div><div class="div_method" onclick="openFull(this)">setHeader(hdrStr,splitSign,styles)<br/><strong class="div_strong_method">set header label and default params for new headers</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">hdrStr - header string with delimiters</li><li type="circle">splitSign - string used as a split marker, optional. Default is "#cspan"</li><li type="circle">styles - array of header styles</li> </div><div class="div_method" onclick="openFull(this)">sortRows(col,type,order)<br/><strong class="div_strong_method">sorts rows by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc,desc</li> </div><div class="div_method" onclick="openFull(this)">sortTreeRows(col,type,order)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">sorts treegrid by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc.desc</li> </div></div><h3 onclick=" openFull(this)">cells controll</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">getColType(cInd)<br/><strong class="div_strong_method">get column type by column index</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">cInd - column index</li><br/><font class="exem">Returns:</font>type code </div><div class="div_method" onclick="openFull(this)">getColTypeById(cID)<br/><strong class="div_strong_method">get column type by column ID</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">cID - column id</li><br/><font class="exem">Returns:</font>type code </div><div class="div_method" onclick="openFull(this)">getCombo(col_ind)<br/><strong class="div_strong_method">gets Combo object of specified column. Use it to change select box value for cell before editor opened</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col_ind - index of the column to get combo object for</li> </div><div class="div_method" onclick="openFull(this)">getSelectedCellIndex()<br/><strong class="div_strong_method">gets index of selected cell</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<br/><font class="exem">Returns:</font>index of selected cell or -1 if there is no selected sell </div><div class="div_method" onclick="openFull(this)">selectAll()<br/><strong class="div_strong_method">select all rows in grid, it doesn't fire any events</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">edit - switch selected cell to edit mode</li> </div><div class="div_method" onclick="openFull(this)">selectCell(r,cInd,fl,preserve,edit,show)<br/><strong class="div_strong_method">set selection to specified row-cell</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">r - row object or row index</li><li type="circle">cInd - cell index</li><li type="circle">[fl] - true if to call onRowSelect function</li><li type="circle">preserve - preserve previously selected rows true/false (false by default)</li><li type="circle">edit - switch selected cell to edit mode</li><li type="circle">show - true/false - scroll row to view, true by defaul</li> </div><div class="div_method" onclick="openFull(this)">setColSorting(sortStr)<br/><strong class="div_strong_method">set column sort types (avaialble: str, int, date, na or function object for custom sorting)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">sortStr - sort codes list with default delimiter</li> </div><div class="div_method" onclick="openFull(this)">setColTypes(typeStr)<br/><strong class="div_strong_method">set column types</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">typeStr - type codes list (default delimiter is ",")</li> </div></div><h3 onclick=" openFull(this)">data manipulation</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">copyRowContent(from_row_id, to_row_id)<br/><strong class="div_strong_method">copies row content to another existing row</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">from_row_id - id of the row to copy content from</li><li type="circle">to_row_id - id of the row to copy content to</li> </div><div class="div_method" onclick="openFull(this)">getUserData(row_id,name)<br/><strong class="div_strong_method">gets user Data</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id -  row id. if empty then user data is for grid (not row)</li><li type="circle">name -  name of user data</li><br/><font class="exem">Returns:</font>value of user data </div><div class="div_method" onclick="openFull(this)">loadXML(url,afterCall)<br/><strong class="div_strong_method">loads xml content from specified url into grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">url - XML file url</li><li type="circle">afterCall - function which will be called after xml loading</li> </div><div class="div_method" onclick="openFull(this)">loadXMLString(str,afterCall)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">loads xml content from specified string</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">str - XML string</li><li type="circle">afterCall - function which will be called after xml loading</li> </div><div class="div_method" onclick="openFull(this)">parseXML(xml,startIndex)<br/><strong class="div_strong_method">populate grid with data from xml file (if passed parameter contains '.') or data island</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">[xml] - xml island will be found by grid id ([id]_xml) if no file or island id is specified. This also can be ready-to-use XML object</li><li type="circle">[startIndex] - index of row in grid to start insertion from</li> </div><div class="div_method" onclick="openFull(this)">setSerializableColumns(list)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure which column must be serialized (if you do not use this method, then all columns will be serialized)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">list - list of true/false values separated by comma, if list empty then all fields will be serialized</li> </div><div class="div_method" onclick="openFull(this)">setSerializationLevel(userData,fullXML,config,changedAttr,onlyChanged,asCDATA)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure XML serialization</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">userData - enable/disable user data serialization</li><li type="circle">fullXML - enable/disable full XML serialization (selection state)</li><li type="circle">config - serialize grid configuration</li><li type="circle">changedAttr - include changed attribute</li><li type="circle">onlyChanged - include only Changed  rows in result XML</li><li type="circle">asCDATA - output cell values as CDATA sections (prevent invalid XML)</li> </div><div class="div_method" onclick="openFull(this)">setUserData(row_id,name,value)<br/><strong class="div_strong_method">sets user data to row</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id -  row id. if empty then user data is set for grid (not row)</li><li type="circle">name -  name of user data block</li><li type="circle">value -  value of user data block</li> </div><div class="div_method" onclick="openFull(this)">sortRows(col,type,order)<br/><strong class="div_strong_method">sorts rows by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc,desc</li> </div><div class="div_method" onclick="openFull(this)">sortTreeRows(col,type,order)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">sorts treegrid by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc.desc</li> </div></div><h3 onclick=" openFull(this)">appearence control</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">enableAlterCss(cssE,cssU,perLevel,levelUnique)<br/><strong class="div_strong_method">set even/odd css styles</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">cssE - name of css class for even rows</li><li type="circle">cssU - name of css class for odd rows</li><li type="circle">perLevel - true/false - mark rows not by order, but by level in treegrid</li><li type="circle">levelUnique - true/false - creates additional unique css class based on row level</li> </div><div class="div_method" onclick="openFull(this)">setCellTextStyle(row_id,ind,styleString)<br/><strong class="div_strong_method">sets style to cell</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li><li type="circle">ind - cell index</li><li type="circle">styleString - style string in common format (exmpl: "color:red;border:1px solid gray;")</li> </div><div class="div_method" onclick="openFull(this)">setColumnColor(clr)<br/><strong class="div_strong_method">colorize columns  background.</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">clr - colors list</li> </div><div class="div_method" onclick="openFull(this)">setColumnLabel(c,label,ind)<br/><strong class="div_strong_method">sets new column header label</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col - header column index</li><li type="circle">label - new label for the cpecified header's column. Can contai img:[imageUrl]Text Label</li><li type="circle">ind - header row index (default is 0)</li> </div><div class="div_method" onclick="openFull(this)">setHeaderCol(c,label,ind)<br/><strong class="div_strong_method">sets new column header label</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col - header column index</li><li type="circle">label - new label for the cpecified header's column. Can contai img:[imageUrl]Text Label</li><li type="circle">ind - header row index (default is 0)</li> </div><div class="div_method" onclick="openFull(this)">setRowColor(row_id,color)<br/><strong class="div_strong_method">sets background color of row (via bgcolor attribute)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li><li type="circle">color - color value</li> </div><div class="div_method" onclick="openFull(this)">setRowTextBold(row_id)<br/><strong class="div_strong_method">sets row text BOLD</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li> </div><div class="div_method" onclick="openFull(this)">setRowTextNormal(row_id)<br/><strong class="div_strong_method">sets row text weight to normal</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li> </div><div class="div_method" onclick="openFull(this)">setRowTextStyle(row_id,styleString)<br/><strong class="div_strong_method">sets style to row</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li><li type="circle">styleString - style string in common format (exmpl: "color:red;border:1px solid gray;")</li> </div><div class="div_method" onclick="openFull(this)">setSkin(name)<br/><strong class="div_strong_method">set one of predefined css styles (xp, mt, gray, light, clear, modern)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">name - style name</li> </div><div class="div_method" onclick="openFull(this)">setStyle(ss_header,ss_grid,ss_selCell,ss_selRow)<br/><strong class="div_strong_method">modify default style of grid and its elements. Call before or after Init</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">ss_header - style def. expression for header</li><li type="circle">ss_grid - style def. expression for grid cells</li><li type="circle">ss_selCell - style def. expression for selected cell</li><li type="circle">ss_selRow - style def. expression for selected Row</li> </div></div><h3 onclick=" openFull(this)">overal control</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">attachToObject(obj)<br/><strong class="div_strong_method">attach grid to some object in DOM</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">obj - object to attach to</li> </div><div class="div_method" onclick="openFull(this)">clearAll(header)<br/><strong class="div_strong_method">deletes all rows in grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">header - (boolean) enable/disable cleaning header</li> </div><div class="div_method" onclick="openFull(this)">doesRowExist(row_id)<br/><strong class="div_strong_method">determines if row with specified id exists</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li><br/><font class="exem">Returns:</font>true if exists, false otherwise </div><div class="div_method" onclick="openFull(this)">enableBuffering(bufferSize)<br/><strong class="div_strong_method">enables buffering in content rendering. Using this you decrease the grid loading time.</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js </div><div class="div_method" onclick="openFull(this)">enableMultiline(state)<br/><strong class="div_strong_method">set multiline rows support to enabled or disabled state</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">state - true or false</li> </div><div class="div_method" onclick="openFull(this)">enableMultiselect(state)<br/><strong class="div_strong_method">set multiselect mode to enabled or disabled state</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">state - true or false</li> </div><div class="div_method" onclick="openFull(this)">getAllRowIds(separator)<br/><strong class="div_strong_method">gets a list of all row ids in grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">separator - delimiter to use in list</li><br/><font class="exem">Returns:</font>list of all row ids in grid </div><div class="div_method" onclick="openFull(this)">getColWidth(ind)<br/><strong class="div_strong_method">gets width of specified column in pixels</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">ind - column index</li><br/><font class="exem">Returns:</font>column width in pixels </div><div class="div_method" onclick="openFull(this)">getColumnsNum()<br/><strong class="div_strong_method">gets number of columns in grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<br/><font class="exem">Returns:</font>number of columns in grid </div><div class="div_method" onclick="openFull(this)">getRowsNum()<br/><strong class="div_strong_method">gets number of rows in grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<br/><font class="exem">Returns:</font>number of rows in grid </div><div class="div_method" onclick="openFull(this)">init(fl)<br/><strong class="div_strong_method">initialize grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">fl - if to parse on page xml data island</li> </div><div class="div_method" onclick="openFull(this)">serialize()
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get actual xml of grid. The depth of serialization can be set with setSerializationLevel method</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js </div><div class="div_method" onclick="openFull(this)">setColWidth(ind,value)<br/><strong class="div_strong_method">sets width of specified column in pixels (soen't works with procent based grid)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">ind - column index</li><li type="circle">value - new width value</li> </div><div class="div_method" onclick="openFull(this)">setImagePath(path)<br/><strong class="div_strong_method">set path to grid internal images (sort direction, any images used in editors, checkbox, radiobutton)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">path - url (or relative path) of images folder with closing "/"</li> </div><div class="div_method" onclick="openFull(this)">setInitWidths(wp)<br/><strong class="div_strong_method">set width of columns in pixels</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">wp - list of column width in pixels</li> </div><div class="div_method" onclick="openFull(this)">setInitWidthsP(wp)<br/><strong class="div_strong_method">set width of columns in percents</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">wp - list of column width in percents</li> </div><div class="div_method" onclick="openFull(this)">setNoHeader(fl)<br/><strong class="div_strong_method">create grid with no header. Call before initialization</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">fl - true to use no header in the grid</li> </div><div class="div_method" onclick="openFull(this)">setSerializableColumns(list)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure which column must be serialized (if you do not use this method, then all columns will be serialized)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">list - list of true/false values separated by comma, if list empty then all fields will be serialized</li> </div><div class="div_method" onclick="openFull(this)">setSerializationLevel(userData,fullXML,config,changedAttr,onlyChanged,asCDATA)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure XML serialization</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">userData - enable/disable user data serialization</li><li type="circle">fullXML - enable/disable full XML serialization (selection state)</li><li type="circle">config - serialize grid configuration</li><li type="circle">changedAttr - include changed attribute</li><li type="circle">onlyChanged - include only Changed  rows in result XML</li><li type="circle">asCDATA - output cell values as CDATA sections (prevent invalid XML)</li> </div><div class="div_method" onclick="openFull(this)">setXMLAutoLoading(filePath,bufferSize)<br/><strong class="div_strong_method">enables the possibility to load content from server when already loaded content was rendered. Using this feature you decrease the grid loading time for extremely big amounts of data ( in case of latest grid version, usage of SmartRendering instead of this mode strongly recommended )</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">filePath - path which will be used for fetching additional data</li><li type="circle">bufferSize - size of client size buffer</li> </div><div class="div_method" onclick="openFull(this)">showRow(rowID)<br/><strong class="div_strong_method">scrolls row to the visible area</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">rowID - row id</li> </div></div><h3 onclick=" openFull(this)">treegrid</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">clearAll(header)<br/><strong class="div_strong_method">deletes all rows in grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">header - (boolean) enable/disable cleaning header</li> </div><div class="div_method" onclick="openFull(this)">clearSelection()<br/><strong class="div_strong_method">removes selection from the grid</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js </div><div class="div_method" onclick="openFull(this)">deleteRow(row_id,node)<br/><strong class="div_strong_method">deletes row specified by ID</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - id of row to delete</li><li type="circle">node - reserved</li> </div><div class="div_method" onclick="openFull(this)">getSelectedRowId()<br/><strong class="div_strong_method">gets selected row id</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<br/><font class="exem">Returns:</font>id of selected row (list of ids with default delimiter) or null if non row selected </div><div class="div_method" onclick="openFull(this)">preventIECaching(mode)<br/><strong class="div_strong_method">prevent caching in IE  by adding random values to URL string</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">mode - enable/disable random values in URLs ( disabled by default )</li> </div><div class="div_method" onclick="openFull(this)">setColspan(row_id,col_ind,colspan)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">dynamicaly set colspan in row starting from specified column index</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">row_id - row id</li><li type="circle">col_id - index of column</li><li type="circle">colspan - size of colspan</li> </div><div class="div_method" onclick="openFull(this)">sortRows(col,type,order)<br/><strong class="div_strong_method">sorts rows by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc,desc</li> </div><div class="div_method" onclick="openFull(this)">sortTreeRows(col,type,order)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">sorts treegrid by specified column</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">col - column index</li><li type="circle">type - str.int.date</li><li type="circle">order - asc.desc</li> </div></div><h3 onclick=" openFull(this)"> event handlers</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">setOnOpenEndHandler(func)<br/><strong class="div_strong_method">set function called after tree node opened/closed</strong><br/></div><div class="div_drop"><br/><fieldset><legend>Event</legend><font class="exem">Name:</font>onOpenEnd<br/>Event raised immideatly after item in tree got command to open/close , and before item was opened//closed. Event also raised for unclosable nodes and nodes without open/close functionality - in that case result of function will be ignored.<li type="square">ID of node which will be opened/closed</li><li type="square">Current open state of tree item. -1 - item closed, 1 - item opened.</li></fieldset><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">func - event handling function</li> </div><div class="div_method" onclick="openFull(this)">setOnOpenStartHandler(func)<br/><strong class="div_strong_method">set function called before tree node opened/closed</strong><br/></div><div class="div_drop"><br/><fieldset><legend>Event</legend><font class="exem">Name:</font>onOpenStart<br/>Event raised immideatly after item in tree got command to open/close , and before item was opened//closed. Event also raised for unclosable nodes and nodes without open/close functionality - in that case result of function will be ignored.<li type="square">ID of node which will be opened/closed</li><li type="square">Current open state of tree item. -1 - item closed, 1 - item opened.</li><br/><font class="exem">Event returns:</font>true - confirm opening/closing; false - deny opening/closing;</fieldset><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">func - event handling function</li> </div></div><h3 onclick=" openFull(this)"> paginal output</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">setOnPageChanged(func)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set event handler to handle page changing (paginal output)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid_pgn.js<li type="circle">func - function to call</li> </div><div class="div_method" onclick="openFull(this)">setOnPaging(func)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">capture event of paging block creation</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxgrid_pgn.js<li type="circle">func - function to call</li> </div></div></div><h2 onclick="openFull(this)">eXcell object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_ed object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_edtxt object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_edn object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_ch object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_ra object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_txt object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_txttxt object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_co object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_coro object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_cp object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_img object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_price object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_dyn object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_ro object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_rotxt object API</h2><div class="block" style="display:show;"/><h2 onclick="openFull(this)">eXcell_tree object API</h2><div class="block" style="display:show;"><div class="div_method" onclick="openFull(this)">getLabel(val)<br/><strong class="div_strong_method">sets text representation of cell ( setLabel doesn't triger math calculations as setValue do)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">val - new value</li> </div><div class="div_method" onclick="openFull(this)">setLabel(val)<br/><strong class="div_strong_method">sets text representation of cell ( setLabel doesn't triger math calculations as setValue do)</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtreegrid.js<li type="circle">val - new value</li> </div></div>
