/***
*	General style
*/
.dhtmlxcalendar {
	border: 1px solid gray;
	width: 160px;
	font-family: verdana;
	font-size:10px;
	background-color:#fff;
	padding: 2px;
	z-index:99;
}

.dhtmlxcalendar td {
	font-family: verdana;
	font-size: 10px;
	cursor: default;
}

.dhtmlxcalendar .dxcalmonth td.month_btn_left,
.dhtmlxcalendar .dxcalmonth td.month_btn_right {
	cursor: pointer;
}

.dhtmlxcalendar td.comma{
	visibility: visible;
	padding-right: 3px;
}

.dhtmlxcalendar .dxcaldlabel {
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}

.dhtmlxcalendar .dxcaldlabel td,
.dhtmlxcalendar .dxcaldays td{
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 10px;
}
.dhtmlxcalendar .dxcaldays td{
	border: 1px solid #f7f7f7;
	text-align: right;
}

/* begin: days colors */
.dhtmlxcalendar td.thismonth{
	color:#000;
}

.dhtmlxcalendar td.othermonth{
	color:#555;
	background-color:#f5f5f5;
}

.dhtmlxcalendar td.weekend{
	color:red;
}

.dhtmlxcalendar td.unsensitive{
	color:#ccc;
	font-style:italic;
}

.dhtmlxcalendar td.selected{
	border:1px solid #ccc;
	background-color: #fff5e0;
}


.dhtmlxcalendar td.current{
	border: 1px solid #555;
	color: #00c;
}

.dhtmlxcalendar td.hover{
	border: 1px solid #bbb;
}
/* end: days colors */


/* begin: window header */
.dhtmlxcalendarHeader {
	font-size: 10px;
	font-family: verdana;
	height: 12px;
	background-color: #666;
	color: #fff;
	cursor: default;
	padding: 1px;
	text-align: left;
}

 /* buttons of main menu */
.dhtmlxcalendarHeader div.button_close,
.dhtmlxcalendarHeader div.button_min,
.dhtmlxcalendarHeader div.button_totay {
	float:right;
	text-align:center;
	margin:1px;
	height: 9px;
	width: 9px;
	font-size:7px;
	color: #000;
	background-color:#fff;
	border-left:1px solid gray;
	font-family:Verdana;
	font-weight:bold;
	cursor:pointer;
}
.dhtmlxcalendarHeader div.separator {
	font-size:7px;
	float:right;
	height: 9px;
	width: 3px;
}
.dhtmlxcalendarHeader div.winTitle {
	margin-left: 2px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	color: #fff;
	cursor: default;
	-moz-user-select: none;
}
/* end: window header */
/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar {
	border: 1px solid gray;
	padding: 2px;
}
.dhtmlxdblcalendar .dhtmlxcalendar {
	border: 1px solid #bbb;
}
/* end: dhtmlxDblCalendarObject */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar div.planeMonth,
.dhtmlxcalendar div.planeYear {
	height: 15px;
	text-align: right;
	overflow: hidden;
}
.dhtmlxcalendar div.planeYear {
	text-align: left;
	width: 40px;
}

.dhtmlxcalendar div.dhtmlxRichSelector {
	position: absolute;
	background-color:#fff;
	display: block;
}
.dhtmlxcalendar textarea.dhtmlxRichSelector,
.dhtmlxcalendar select.dhtmlxRichSelector {
	font-family: verdana;
	position: absolute;
	font-size: 10px;
	overflow: hidden;
	border-width: 0px;
	z-index:100;
}
.dhtmlxcalendar select.dhtmlxRichSelector {
	border: 1px solid #555;
}
/* end: dhtmlxRichSelector */

/***
*	yahoolike style
*/
.dhtmlxcalendar_yahoolike {
	border: 1px solid #7b9ebd;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
	background-color: #f7f9fb;
	padding: 5px
	z-index:99;
}

.dhtmlxcalendar_yahoolike td {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

.dhtmlxcalendar_yahoolike .dxcalmonth {
	background-color: #fff;
	border: 1px solid #e0e0e0;
}

.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
	background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/tr/callt.gif) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
	background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/tr/calrt.gif) center center no-repeat;
}

.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_yahoolike .dxcaldlabel {
	border-width: 0px;
}
.dhtmlxcalendar_yahoolike .dxcaldlabel td,
.dhtmlxcalendar_yahoolike .dxcaldays td{
	font-size: 10pt;
	text-align: left;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	color: #666;
}
.dhtmlxcalendar_yahoolike .dxcaldays td{
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_yahoolike td.comma{
	visibility:hidden;
}
.dhtmlxcalendar_yahoolike div.planeMonth,
.dhtmlxcalendar_yahoolike div.planeYear {
	height: auto;
	overflow: auto;
}
/* begin: days colors */
.dhtmlxcalendar_yahoolike td.thismonth{
	color:#003db8;
}

.dhtmlxcalendar_yahoolike td.othermonth{
	color:#999;
	background-color:#eee;
}

.dhtmlxcalendar_yahoolike td.weekend{
	color:#003db8;
}

.dhtmlxcalendar_yahoolike td.unsensitive{
	color:#ccc;
	font-style:italic;
	cursor: default;
}

.dhtmlxcalendar_yahoolike td.selected{
	border:1px solid #f90;
	background-color: #fff19f;
}


.dhtmlxcalendar_yahoolike td.current{
	border: 1px solid #555;
	color: #00c;
}

.dhtmlxcalendar_yahoolike td.hover{
	border:1px solid #f90;
	background-color: #f90;
	color: #fff;
}
/* end: days colors */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_yahoolike textarea.dhtmlxRichSelector,
.dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
	font-family: Arial;
	font-size: 10pt;
	overflow: hidden;
}
.dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */
