/* CSS Document */
body { 
  background: #ffffff;
  background-image: url("../images/501stlogoback.gif");
  background-attachment: fixed;
  background-position: 100% 5%;
  background-repeat: repeat;
}

.basictext{
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  padding-top:4px;
  padding-left:2px;
  padding-right:4px;
  padding-bottom:4px;    
}

.headertext{
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  padding-top:4px;
  padding-left:2px;
  padding-right:4px;
  padding-bottom:4px;    
}

.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#003366;
}
.link A {
	COLOR: #003366; TEXT-DECORATION: none
}
.link A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
.link A:hover {
    color:#003366;
	text-decoration:underline;
	background-color:#FFFFFF;
}
.link A:active {
	COLOR: #003366; TEXT-DECORATION: none
}