/* CSS Document */

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.itemBorder { border: 2px solid #cccccc }
.itemText { 
  text-decoration: none;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight:bold;
  vertical-align:top;  
}
	
.crazyBorder { border: 1px outset #336699 }
.crazyText {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight:bold; 
  vertical-align:middle;  
}

.textdefaultblack{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}

.linkwhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	background-color:#003366;
	color:#FFFFFF;
}
.linkwhite A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.linkwhite A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.linkwhite A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.linkwhite A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}


.linkblack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color:#000000;
}
.linkblack A {
	COLOR: #000000; TEXT-DECORATION: none
}
.linkblack A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.linkblack A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.linkblack A:active {
	COLOR: #000000; TEXT-DECORATION: none
}

.text10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
}

.text8{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}

.text14{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: strong;
	color: #000000;
}

.loginbox {
	width: 10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

.logintext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-weight: normal;
	color: #000000;
}

.textboxsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

.textboxsmallac {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	text-align:center
}

.textboxsmallbtn{
	width: 35;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
}

.textboxsmall98 {
	width: 95%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

.textboxsmall100 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

.textbox98 {
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;	
}

.textbox100 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textbox99 {
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textbox98red {
	background-color:#FF9999;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textboxred {
	background-color:#FF9999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
