div.gridbox{
	overflow:hidden;
}
div.gridbox table.hdr td {
	font-family:arial;
	font-size:12px;
	background-color:#D4D0C8;
	border: 1px solid;
	border-color : white Gray Gray white;
	text-align: center;
	margin:0px;
	padding:5px 0px 5px 0px ;
	font-weight:normal;
    -moz-user-select:none;
    overflow:hidden;
	}
div.gridbox table.hdr td div.hdrcell{
	overflow:hidden;
}
div.gridbox table.obj td {
	border: 1px solid;
	border-color : white Gray Gray white;
	font-family:Arial;
	font-size:12px;
    -moz-user-select:none;
    overflow:hidden;
    padding-top:0px;
    padding-bottom:0px;
	}
div.gridbox table.obj th {
	padding:0px 0px 0px 0px ;
	margin:0px 0px 0px 0px ;
	}

div.gridbox table.row20px tr  td{
    height:20px;
    white-space: nowrap;
    padding:0px;
}
div.gridbox .objbox {
	background-color:white;

	}
div.gridbox table.obj td span.space, div.gridbox table.obj td img.space{
	width:18px;
	}
div.gridbox table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#d8d8d8;
	color:black;
	}
div.gridbox table.obj tr.rowselected td{
	background-color:#e1e0d7;
	color:black;
	}
div.gridbox table.obj td.editable{
    -moz-user-select:text;
    }

.dragSpanDiv{ 	font-size : 12px; 	border: 1px gray solid; background-color:white; }
.dhx_combo_select{
    font-family:arial;
    font-size:12px;
    border:1px solid;
    border-color:black silver silver black;
    background-color:white;
    overflow:hidden;
    cursor:default;
    position:absolute;
    height:auto;
}
.dhx_combo_edit{
    width:100%;
    border:0px;
    padding:0px;
    margin:0px;
    font:12px arial;
    overflow:hidden;
}

.dhx_textarea{
    border:1px solid;
    border-color:black silver silver black;
    position:absolute;
	height:100px;
}
.dhx_clist{
    background-color:white;
    border:1px solid black;
    padding:2px 2px 2px 2px;
}
.gridDragLine{
   position:absolute;
   top:10px; left:0px;
   width:100%;
   height:2px;
   background-color:black;
   overflow:hidden;
}

/*paginal output*/
DIV.pagingBlock{
	font-size:12px;
	font-family:verdana,arial;
}
DIV.pagingBlock .pagingCurrentPage{
	font-weight:bold;
	cursor:default;
}
DIV.pagingBlock .pagingPage{
	cursor:pointer;
	text-decoration:underline;
}
SPAN.recordsInfoBlock {
	font-size:12px;
	font-family:verdana,arial;
}
/*class for toolbar selectbox. used with pagingWT*/
.toolbar_select{
	font-size:10px;
}

/*block selection style*/
.dhtmlxGrid_selection {
   -moz-opacity: 0.5;
   filter: alpha(opacity = 50);
   background-color:yellow;
   opacity:0.5;
   border: 1px dotted black;
}

/* xp skin ------------------------------------------------------*/
div.gridbox_xp{
	border:1px solid lightgrey;
}
div.gridbox_xp table.hdr td {
	color:#616161;
	background-image:url('../imgs/header_bg_60.gif');
	border:0px;
	text-align: center;
	margin:0px;
	padding:5px 0px 5px 0px ;
	font-weight:bold;
    -moz-user-select:none;
    overflow:hidden;
	}
div.gridbox_xp table.hdr td div.hdrcell{
	border-left: 1px solid white;
	border-right: 1px solid gray;
	height:16px;
	white-space : nowrap;
	font-family:Arial;
	font-size:12px;
}
div.gridbox_xp table.obj td {
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	font-family:Arial;
	font-size:12px;
    -moz-user-select:none;
    overflow:hidden;
    padding-top:0px;
    padding-bottom:0px;
	vertical-align:middle;
	}
div.gridbox_xp table.obj tr.rowselected td{
	background-color:whitesmoke;
	color:black;
	}
div.gridbox_xp table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:whitesmoke;
	}
div.gridbox_xp table.row20px tr  td{
    height:22px;
    white-space: nowrap;
    padding:1px;
}
/* gray skin --------------------------------------------------*/

div.gridbox_gray {
	border:1px solid gray;
	background-color:#D4D0C8;
}

/* mt skin ------------------------------------------------------*/
div.gridbox_mt{
	border:1px solid lightgrey;
}
div.gridbox_mt table.hdr td {
	color:#616161;
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	text-align: center;
	margin:0px;
	background-image:url('../imgs/header_bg.gif');
	padding: 0px 0px 0px 0px;
	-moz-user-select:none;
	overflow:hidden;
	}
div.gridbox_mt table.hdr td div.hdrcell{
	height:16px;
	white-space : nowrap;
	font-family:Verdana;
	font-size:12px;
}
div.gridbox_mt table.obj td {
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-right: 0px solid lightgrey;
	font-family:Verdana;
	font-size:12px;
    -moz-user-select:none;
    overflow:hidden;
    padding-top:0px;
    padding-bottom:0px;
	vertical-align:middle;
	}
div.gridbox_mt table.obj tr.rowselected td{
	background-color:#D6D3FA;
	color:black;
	}
div.gridbox_mt table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#D6D3FA;
	}
div.gridbox_mt table.row20px tr  td{
    height:22px;
    white-space: nowrap;
    padding:1px;
}

/*------------------------------------------------------------*/


div.gridbox div.ftr{
  position:absolute;
  left:0px;
  bottom:1px;
  width:100%;
  padding-right:20px;
  overflow:hidden;
}

div.gridbox div.ftr td {
		height:20px;
		padding:0px;
		padding-left:10px;
		padding-right:5px;
		border-top:1px solid gray;
		border-right:1px solid gray;
		background-color:#ffffcc;
		font-style : italic;
		font-family:arial;
		font-size:12px;
	}

div.gridbox table.hdr td.columnTargetR div.hdrcell{
	border-right:3px double #FF6600;
	border-left:3px solid #D4D0C8;
}

div.gridbox table.hdr td.columnTargetL div.hdrcell{
	border-right:3px solid #D4D0C8;
	border-left:3px double #FF6600;
}

.dhx_dragColDiv{
	font-family:Arial;
	font-size:12px;
	background-color:#D4D0C8;
	border: 1px solid;
	border-color : white Gray Gray white;
	text-align: center;
	margin:0px;
	padding:5px 20px 5px 20px ;
	font-weight:normal;
	filter:alpha(opacity:75);
	-moz-opacity:0.75;
	opacity:0.75;
}


