body{
	margin:0px 0 10px 0;
	text-align:left;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

input.text, input.file, textarea.textarea, select.select{
	margin:0;
	font-size:100%;
	color:#333;
}
input.text, textarea.textarea, .firefox select.select{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../images/fieldbg.gif) repeat-x top;
}
input.text, input.file{
	padding:2px 0 2px 0;
}
input.checkbox, input.radio{
	display:block;
	line-height:1.5em;
	margin:.6em 0 0 3px;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 0 25px;
}

smalltext{
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
}

textarea.textarea{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
}

select.select{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	margin:1px 0;
	padding:1px 0 0 0;
}
select.select[class]{
	margin:0;
	padding:1px 0 1px 0;
}
*:first-child+html select.select[class]{
	margin:1px 0;
}

.textboxred {
	background-color:#FF9999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textbox98 {
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;	
}

.textbox98red {
	background-color:#FF9999;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.textbox100 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;	
}

.textbox100red {
	background-color:#FF9999;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}