.separator {
    color:#ffffff;
	padding: 0em;
}

#menu {
	width: 100%;
	background: #d4d7dc;
	border-bottom: 0.1em #d4d7dc solid;
	padding-top: 0.2em;
	padding-left: 0.7em;
	height: 1.3em;
    font:bold 0.8em verdana;	
}

#menu  ul {
	margin: 0em;
	padding: 0em;
	line-height: 1.35em;
	list-style: none;
	z-index: 90;	
}

#menu  ul li {
	float: left;
	margin: 0em 0em 0em 0em;
	padding: 0em;
	font-size:0.90em;
	font-weight:bold;
	line-height: 1.35em;
    width:auto;
}

#menu ul li a { /* top */
	float: left;
	display: block;
	width: auto;
	font-weight: normal;
	background: transparent;
	text-decoration: none;
	color:#000000;
	margin: 0em;
	padding: 0em 2em 0.2em 1em; /* top,  left space, line height, right spacex*/
    width:auto;		
}

#menu  ul li a:hover {
    background-color:#ededed; /* top back hover color */	
	color: #fff;
	text-decoration: none;
}

#menu  ul li.sep {
	color: #fff;
	padding: 0.14em 0.8em 0.8em 1em;	
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu  ul li a {
	font-weight: bold;
	float: none;
}

/* End IE5-Mac hack */
#menu  ul.level2, #menu ul.level3 {
	position: absolute;
	top: 2em;
	left: 0em;
	visibility: hidden;
	padding: 0.4em 0em 0em 0em;		
	border-left: 0.1em solid #777777;
	border-top: 0.1em solid #cccccc;
	border-right: 0.1em solid #777777;
	border-bottom: 0.2em solid #888888;	
	background: #eeeeee; /* drop down back color */
}

#menu  ul.level2 li, #menu ul.level3 li {
	font-weight: bold;
	border-bottom: 0.1em solid #fff;
	float: none;
	margin: 0em;
	padding: 0em;		
	width: 25em; /* DD width */
}

#menu  ul.level2 li a, #menu ul.level3 li a {
	font-weight: bold;
	padding: 1em 1em 1em 1em; /*top  */
}

#menu  ul.level2 li a:hover,#menu  ul.level3 li a:hover {
	color: #000000;
	font-weight: bold;
	background-color:#aaaaaa; /* hover color */
	background-image: none;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

