input {font-family:verdana; font-size:12px;}
td {font-family:verdana; font-size:12px;}
p {font-family:verdana; font-size:12px;}
pre {font-family:courier; font-size:12px; color:blue; border:1px solid #000000; padding:6px; background-color:#f0f0f0;}
li {font-family:verdana; font-size:12px; padding:3px 0px;}
a {font-family:verdana; font-size:12px;}
.fixedCell {width:60px;}
.casual {font-family:verdana;}
.title {font-weight:bold; font-size:15px;}
.subtitle {font-weight:bold;}
