/*
Default style for the nogray calendar
the default class prefix is ng-

made by Wesam Saif
http://www.nogray.com
support@nogray.com

http://www.nogray.com/license.php

*/

/* the main header table */
.ng-cal-header-table {margin:4px;
	border-collapse:collapse;
	background:#efefef;
	border:solid #000000 1px;}
	
/* the previous and next table cells */
.ng-cal-previous-td, .ng-cal-next-td {width:20px;
	height:20px;
	background-color:#444444;
	color:#FFFFFF;
	font-weight:bold;
	font-size:18px;
	border:solid #cccccc 1px;
	text-align:center;}

/* the calendar header table cell (the area where the month and year is displayed) */
.ng-cal-header-td {text-align:center;
	font-weight:bold;
	padding:3px;}
	
/* the main month table */
.ng-cal {border:solid #5fd7d6 1px;
	border-collapse:collapse;
	margin:5px;
	margin-top:0px;
	background-color:#FFFFFF;}
	
.ng-cal * {font-size:8pt;}
.ng-cal td {padding:2px;
	border:solid #9eefee 1px;}

/* the days name table cells */
.ng-cal .ng-days-name-td {
    line-height:10px;
    background:#9eefee;
	border:solid #5fd7d6 1px;}
	
/* the month name table cell */
.ng-month-name-th {background:#2f99b4;
	font-weight:bold;
	padding:2px;
	color:#ffffff;
	text-align:center;}
	
/* weekends, days off, dates off (holidayes) */
.ng-weekend, .ng-dayOff, .ng-dateOff {color:#999999;}

/* out of range days (previous or next month) */
.ng-outOfRange {color:#999999;
	background:#efefef;
	text-decoration:line-through;}

/* the style for the table cell when the mouse is over it */
.ng-mouse-over {font-weight:bold;
	background:#faedd6;}
	
/* selected day */
.ng-selected-day {background:#ffbb45;
		font-weight:bold;}
		
/* the close and clear buttons in the bottom of the calendar */
.ng-close-link, .ng-clear-link  {padding:3px;
	text-align:center;
	color:#666666;
	text-decoration:none;
	font-size:8pt;
	background:#efefef;
	border:solid #cccccc 1px;
	float:right;
	margin-right:5px;}